/* Reset default margins and padding */
body, h1, h2, h3, h4, h5, h6, p, div, header, footer, aside, main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set body styles */
body {
    font-family: 'Medieval Sharp', Arial, sans-serif;
    height: 100vh;
    background-color: #f8f8f8;
    overflow: hidden;
    position: relative;
}

/* Global Header Centering */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cloister Black', Arial, sans-serif;
    text-align: center;
    padding: 10px 0; /* Optional padding for spacing */
}

/* Noise */
.noise {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    opacity: 0.2;
}

.box-noise {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    opacity: 0.2; /* Subtle effect */
}

body {
    background-color: black;
}

/* Main container */
.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: calc(100vh - 160px); /* Full height minus title and footer */
}

/* Title Bar */
.title-bar {
    width: 50%;
    padding: 5px;
    text-align: center;
    color: #f8f8f8;
    border-bottom: 2px solid #f8f8f8;
    margin: 4px auto;
    max-width: 1200px; /* Set a max-width for larger screens */
    font-size: 26px;
}

/* Divider */
.divider {
    border: 0; /* Remove the default border */
    height: 2px; /* Set the height of the divider */
    background-color: black; /* Set the color of the divider */
    margin: 20px 0; /* Add space around the divider */
    width: 80%; /* Optional: Set the width of the divider */
    margin-left: auto; /* Center the divider */
    margin-right: auto; /* Center the divider */
}

/* Center Content */
.content {
    width: 60%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f8f8f8;
    border: 2px solid black;
    padding: 10px;
    border: 5px double transparent; /* Inner border */
    border-image: linear-gradient(30deg, #d4af37, #f7d794, #d4af37); /* Gradient for outer border */
    box-sizing: border-box; /* Ensure padding and borders are included in width/height */
    border-image-slice: 1;
}

.mainbox {
    padding: 30px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

/* Box Styles */
.box {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

/* Sidebar Styles */
.sidebar {
    width: 19%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 10px;
}

.sidebar .box {
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
    height: 50%;
    background-color: #f8f8f8;
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.grid-button {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: #f8f8f8;
    text-decoration: none;
    border: 2px solid black;
    transition: transform 0.3s ease;
    z-index: 2;
    font-family: 'Medieval Sharp', Arial, sans-serif;
}

.grid-button:hover {
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}

/* Shaking */
.shake {
    border: 3px solid #f8f8f8;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: #f8f8f8;
    position: relative;
}

.shake::before {
    content: '';
    border: 2px solid #f8f8f8;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    pointer-events: none;
}

/* Footer Styles */
.footer {
    text-align: center; /* Center the content */
    padding: 10px;
    color: #f8f8f8;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #f8f8f8;
    margin-top: 10px;
    font-family: 'Medieval Sharp', Arial, sans-serif;
}

.footer p {
    display: flex;
    gap: 10px; /* Optional: adjust spacing between elements */
}

.footer-separator {
    margin: 0 10px;
    font-size: 18px; /* Adjust the size of the separator if needed */
}

.footer a {
    text-decoration: none;
    color: inherit;
}